<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxd.engroom.mapper.CarouselPicMapper">

    <select id="findIndexPic" resultType="com.cxd.engroom.bean.CarouselPic">
        select * from carousel_pic where type=1 order by seq_no desc
    </select>
</mapper>